html, body {
  height: 100%;
  width: 100%;
}


.top {
  display: flex;
  align-items: center;
}

.toptext {
  margin-left: 20px;
}

.topic {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  font-weight: bold;
  font-family: "Trirong", serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  border: 3px solid;
  margin-left: 115px;
}

/* Style the topnav links */
.topnav a {
  font-size: 25px;
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 85px;
  text-decoration: none;
}
